{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Material Icons -->

    <link rel="stylesheet" href=" https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- CSS File -->
    <link rel="stylesheet" href={% static 'styles.css'%} />
    <title>International Conglomerate Solution</title>
  </head>
  <body>

    {% block content %}

    {% endblock content %}

    <script src={% static 'index.js'%}></script>
    <!-- Main Body Ends -->
  </body>
</html>