{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Material Icons -->

    <link rel="stylesheet" href=" https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- CSS File -->
    <link rel="stylesheet" href={% static 'styles.css'%} />
    <title>{% block head_title %}{% endblock head_title %}</title>
  </head>
  <body>

    {% if user.is_authenticated %}
    <!-- Header Starts -->
    <div class="header">
      <div class="header__left">
        <i id="menu" class="material-icons">menu</i>
        <img
          src={% static 'images/mainlogo.jpg'%}
          alt=""
        />
      </div>

      <div class="header__search">
        <form action="">
          <input type="text" placeholder="Search" />
          <button><i class="material-icons">search</i></button>
        </form>
      </div>

      <div class="header__icons">
        <i class="material-icons display-this">search</i>
        <i class="material-icons">videocam</i>
        <i class="material-icons">apps</i>
        <i class="material-icons">notifications</i>
        
        <a href="{% url 'profile' request.user.username %}"
        class="nav-item nav-link {% if request.user.username in request.path %}active{% endif %}">
        <i class="material-icons display-this">account_circle</i>
        </a>
      </div>
    </div>
    <!-- Header Ends -->

    <!-- Main Body Starts -->
    <div class="mainBody">
      <!-- Sidebar Starts -->
      <div class="sidebar">
        <div class="sidebar__categories">
          <div class="sidebar__category">
            <i class="material-icons">waving_hand</i>
            <span>Welcome {{ user.username }}</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">event</i>
            <span><a style="text-decoration:none; color: rgb(96, 96, 96);" href="{% url 'newevent' %}">New Event</a></span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">feed</i>
            <span><a style="text-decoration:none; color: rgb(96, 96, 96);" href="{% url 'internationalnews' %}">International News</a></span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">trending_up</i>
            <span><a style="text-decoration:none; color: rgb(96, 96, 96);" href="{% url 'trending' %}">Trending</a></span>
          </div>
        </div>
        <hr />
        <div class="sidebar__categories">
          <div class="sidebar__category">
            <i class="material-icons">newspaper</i>
            <span><a style="text-decoration:none; color: rgb(96, 96, 96);" href="{% url 'technologicalnews' %}">Technological News</a></span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">feed</i>
            <span><a style="text-decoration:none; color: rgb(96, 96, 96);" href="{% url 'localnews' %}">Local News</a></span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">remember_me</i>
            <span>Membership</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">article</i>
            <span>Articles</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">api</i>
            <span>Developers</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">opacity</i>
            <span>Investors</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">art_track</i>
            <span> Artists</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">verified</i>
            <span>Advertisement</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">logout</i>
            <span><a style="text-decoration:none; color: rgb(96, 96, 96);" href="{% url 'logout' %}">Logout?</a></span>
          </div>

        </div>
        <hr />
      </div>
      <!-- Sidebar Ends -->
      {% else %}
        <div class="alert alert-success" role="alert">
            <h3>Welcome!</h3>
            <a href="{% url 'register' %}">Signup</a>
            <a href="{% url 'login' %}">Login</a>
        </div>
      {% endif %}



    {% block content %}
    {% endblock content %}

    <script src={% static 'index.js'%}></script>
    <!-- Main Body Ends -->
  </body>
</html>