{% extends 'base.html' %}
{% load static %}

   {% block content %}

     <!-- Header Starts -->
     <div class="header">
      <div class="header__left">
        <i id="menu" class="material-icons">menu</i>
        <img
          src={% static 'images/mainlogo.jpg'%}
          alt=""
        />
      </div>

      <div class="header__search">
        <form action="">
          <input type="text" placeholder="Search" />
          <button><i class="material-icons">search</i></button>
        </form>
      </div>

      <div class="header__icons">
        <i class="material-icons display-this">search</i>
        <i class="material-icons">videocam</i>
        <i class="material-icons">apps</i>
        <i class="material-icons">notifications</i>
        <i class="material-icons display-this">account_circle</i>
      </div>
    </div>
    <!-- Header Ends -->

    <!-- Main Body Starts -->
    <div class="mainBody">
      <!-- Sidebar Starts -->
      <div class="sidebar">
        <div class="sidebar__categories">
          <div class="sidebar__category">
            <i class="material-icons">event</i>
            <span>New Events</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">feed</i>
            <span>International News</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">sync_alt</i>
            <span>Stories</span>
          </div>
        </div>
        <hr />
        <div class="sidebar__categories">
          <div class="sidebar__category">
            <i class="material-icons">newspaper</i>
            <span>Technological News</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">feed</i>
            <span>Local News</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">remember_me</i>
            <span>Membership</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">article</i>
            <span>Articles</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">api</i>
            <span>Developers</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">opacity</i>
            <span>Investors</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">art_track</i>
            <span> Artists</span>
          </div>
          <div class="sidebar__category">
            <i class="material-icons">verified</i>
            <span>Advertisement</span>
          </div>

        </div>
        <hr />
      </div>
      <!-- Sidebar Ends -->

      <!-- Videos Section -->
     <div class="detailPage_videos">
        <div class="detailPage_videos__container">
          <!-- Single Video starts -->
            <div class="detailPage_video">
                <div class="detailPage_video__thumbnail">
                <img src="{{ detailed_page.picture.url }}" alt="" />
                </div>
                <div class="video__details">
                    <div class="detailPage_author">
                        <img
                        src="{{ detailed_page.picture.url }}"
                        alt=""
                        />
                    </div>
                    <div class="detailPage_title">
                        <h3> <a href=""> {{ detailed_page.title }}</a></h3>
                        <h2><b>{% for tag in detailed_page.tag.all%}<a href="{{tag.get_absolute_url}}"> #{{tag}} </a><br>{% endfor %}</b></h2>
                        <h2><b><a href=""> {{detailed_page.user.username}}, {{detailed_page.likes}} likes </a></b></h2>
                        <h2> <b> <a href="">{{detailed_page.posted}}</a> </b></h2>
                        <h4> <a href=""> {{ detailed_page.caption }}</a></h4>
                    </div>
                </div>
            </div>

          <!-- Single Video Ends here -->
        </div>
      </div>
    </div>
   
   {% endblock content %}
