{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="about-container">
    <div id="about-container1">
        <h1><a href="http://cridad.com"target="_blank">Bigger Companies</a> </h1>
        <p><a href="http://cridad.com"target="_blank">Save 73%</a> </p>
        <p><a href="http://cridad.com"target="_blank">Yearly: &#8373;4000</a> </p>
        <p><a href="http://cridad.com"target="_blank">Quarterly: &#8373;2000</a> </p>
        <p><a href="http://cridad.com"target="_blank">Montly: &#8373;1000</a> </p>
        <p>Discounted from <strike>7000/yr.</strike></p>
        <p>Discounted from <strike>5000/Qr.</strike></p>
        <p>Discounted from <strike>3000/mo.</strike></p>
        <h2><a href="http://cridad.com"target="_blank">Get Plan</a> </h2>
    </div>
    <div id="about-container1">
        <h1><a href="http://cridad.com"target="_blank">Mid Size Companies</a> </h1>
        <p><a href="http://cridad.com"target="_blank">Save 73%</a> </p>
        <p><a href="http://cridad.com"target="_blank">Yearly: &#8373;4000</a> </p>
        <p><a href="http://cridad.com"target="_blank">Quarterly: &#8373;2000</a> </p>
        <p><a href="http://cridad.com"target="_blank">Montly: &#8373;1000</a> </p>
        <p>Discounted from <strike>7000/yr.</strike></p>
        <p>Discounted from <strike>5000/Qr.</strike></p>
        <p>Discounted from <strike>3000/mo.</strike></p>
        <h2><a href="http://cridad.com"target="_blank">Get Plan</a> </h2>
    </div>
    <div id="about-container1">
        <h1><a href="http://cridad.com"target="_blank">Smaller Companies</a> </h1>
        <p><a href="http://cridad.com"target="_blank">Save 73%</a> </p>
        <p><a href="http://cridad.com"target="_blank">Yearly: &#8373;4000</a> </p>
        <p><a href="http://cridad.com"target="_blank">Quarterly: &#8373;2000</a> </p>
        <p><a href="http://cridad.com"target="_blank">Montly: &#8373;1000</a> </p>
        <p>Discounted from <strike>7000/yr.</strike></p>
        <p>Discounted from <strike>5000/Qr.</strike></p>
        <p>Discounted from <strike>3000/mo.</strike></p>
        <h2><a href="http://cridad.com"target="_blank">Get Plan</a> </h2>
    </div>
    <div id="about-container1">
        <h1><a href="http://cridad.com"target="_blank">Individuals</a> </h1>
        <p><a href="http://cridad.com"target="_blank">Save 73%</a> </p>
        <p><a href="http://cridad.com"target="_blank">Yearly: &#8373;4000</a> </p>
        <p><a href="http://cridad.com"target="_blank">Quarterly: &#8373;2000</a> </p>
        <p><a href="http://cridad.com"target="_blank">Montly: &#8373;1000</a> </p>
        <p>Discounted from <strike>7000/yr.</strike></p>
        <p>Discounted from <strike>5000/Qr.</strike></p>
        <p>Discounted from <strike>3000/mo.</strike></p>
        <h2><a href="http://cridad.com"target="_blank">Get Plan</a> </h2>
    </div>
</div>

{% endblock content %}


